<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<title>Admin</title>
	<link rel="shortcut icon" href="img/eyes.jpg">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/product.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/admin.css">


	<script type=”text/javascript”>

funciton btnClick(){
  var span = document.createElement('span');

  var i=””;// dùng để lưu những thông tin lỗi mà người dùng mắc phải
  var hoten = document.getElementById(‘name’);// khai báo biến họ tên lấy theo địa chỉ id là name.
  if(hoten.value == “”)// kiểm tra hoten có bỏ trống không
  {
    span.innerHTML = 'thong tin dc yeu cau'
  }

  var pass = document.getElementById(‘pass’);
  if(pass.value !=””){
    if(pass.value.length<6 pass.value.length >20)
      i+= “Password phải có độ dài từ 6-20 ký tự.<br/>”;
    }
  else
  i+=”Password không được bỏ trống.<br/>”;
}// btnClick() tương ứng với tên sự kiện onclick trong thẻ input

funciton btnThoat(){}
</script>


</head>
<body class="text-center">
  <!-- Fixed Top -->
  <% include partials/nav_admin.ejs %>


    <% if(!adminLogin) {%>
      <form class="form-signin" method="POST" action="admin/login">
      <img class="mb-4" src="img/award.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Admin login</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" class="form-control" name="username" placeholder="username" required autofocus><br/>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="password" required>
      <br/><br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <% }%>

  <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
  <script type="text/javascript" src="js/popper.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/holder.min.js"></script>
  <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
</body>
</html>