<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="shortcut icon" href="img/eyes.jpg">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/product.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/stylehome.css">
	
</head>
<body class="text-center">
	 <% include partials/nav.ejs %>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
      <a class="black" href="/product/Ipad 9.7 inch">
      <div class="editIpX col-md-5 p-lg-5 mx-auto my-5">
        <h1 >The new 9.7-inch</h1>
        <h1 class="ipad">iPad</h1>
      </div>
      </a>
      <div>
          <a href="/product/Ipad 9.7 inch"><video src="video/ipad.mp4" autoplay=""></video></a>
      </div>
    </div>


    <div class="color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <a href="#" class="black">
      <div class="editIpX col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">iPhone X</h1>
        <h3>Say hello to the future.</h3>
      </div>
      </a>
      <div>
          <a href="/product/Iphone X"><img src="img/iphonexfix.jpg"></a>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="text-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <a href="#" class="black">
        <div class="my-3 py-3">
          <h2>MacBook Pro</h2>
          <h4>A touch of genious.</h4>
        </div>
        <img src="img/macbook_pro_large.jpg">
        </a>
      </div>
      <div class="text-color2 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <a href="#" class="black">
         <div class="my-3 p-3">
           <img src="img/watch_series_3_logo_large.png">
           <h4>Elevated in every way.</h4>
         </div>
        <div class="mx-auto" ><img src="img/watch_series_3_large.jpg"></div>
        </a>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="background text-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-image: url(img/music_three_months_large.jpg)!important;">
        <a href="#" class="white">
        <div class="my-3 py-3 ">
          <img src="img/music_white_large.png" class="edit-img">
          <h4>45 million songs. Three months on us.</h4>
        </div>
      </a>
      </div>
      <div class="text-color3 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <a href="#" class="white">
        <div class="my-3 p-3">
          <h2>Why iPhone?</h2>
          <h4>It just makes life easier.</h4>
        </div>
        <div class="mx-auto" ><img src="img/iphone_switch_large.png"></div>
      </a>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="text-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <a href="#" class="black">
        <div class="my-3 py-3">
          <h6 class="update">UPDATE</h6>
          <h6>MARCH 29,2018</h6>
          <h1 class="ios">iOS 11.3 is now available</h1>
          <p class="under-update">iOS 11.3 này chính thức ra mắt</p>
        </div>
        <img src="img/ios113_large.png">
      </a>
      </div>
      <div class="text-color2 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <a href="#" class="black">
        <div class="my-3 p-3">
          <h1 class="ios margin-bottom">A message about<br>iPhone batteries<br>and performance.</h1>
          <p class="under-update1">Thông điệp về pin và hiệu năng của iPhone.</p>
        </div>
        <div class="mx-auto" ><img src="img/customer_letter_large.png"></div>
      </a>
      </div>
    </div>

    <footer class="container py-5">
      <hr>
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>



    <!-- fixed down -->
<!--       <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Fixed down</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav> --> <!-- End Fixed down -->
	<script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
  <script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/holder.min.js"></script>
  <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
</body>
</html>