<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
	<link rel="stylesheet" type="text/css" href="/css/product_specs.css">
</head>
<body>
	<form method="POST" action="add-product">
		<a href="#">Thông Số Kỹ Thuật</a>
		<p>
			Tên máy:     
			<input type="text" name="name">
		</p>
		<p>
			Giới thiệu:
			<textarea name="slogan" rows="10" cols="30"></textarea>
		</p>
		<p>
			Màn hình:     
			<input type="text" name="screen">
		</p>

		<p>
			Hệ Điều Hành:
			<input type="text" name="os">
		</p>

		<p>
			Camera sau:
			<input type="text" name="backCamera">
		</p>

		<p>
			Camera trước:
			<input type="text" name="frontCamera">
		</p>

		<p>
			CPU:
			<input type="text" name="cpu">
		</p>

		<p>
			RAM:
			<input type="text" name="ram">
		</p>

		<p>
			Bộ Nhớ Trong:
			<input type="text" name="memory">
		</p>

		<p>
			Thẻ SIM:
			<input type="text" name="sim">
		</p>

		<p>
			Dung Lượng Pin:
			<input type="text" name="battery">
		</p>

		<p>
			Giá Sản Phẩm:
			<input type="text" name="price">
		</p>

		<p>
			Ảnh:
			<input type="text" name='imgPath' />
		</p>

		<p>
			<button type="submit">Add</button>
		</p>
	</form>
</body>
</html>