 <form class="needs-validation" novalidate method="POST" action="/admin/add/ipad">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Name">Tên máy</label>
                <input type="text" class="form-control" id="Name" name="name" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="screen">Màn hình</label>
                <input type="text" class="form-control" id="screen" name="screen"  required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="HDH">Hệ Điều Hành</label>
                <input type="text" class="form-control" id="HDH" name="os" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="CPU">CPU</label>
                <input type="text" class="form-control" id="CPU" name="cpu"  required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="frontCamera">Camera trước</label>
                <input type="text" class="form-control" id="frontCamera" name="frontCamera" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="backCamera">Camera sau</label>
                <input type="text" class="form-control" id="backCamera" name="backCamera"  required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="RAM">RAM</label>
                <input type="text" class="form-control" id="RAM" name="ram" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="memory">Bộ Nhớ Trong</label>
                <input type="text" class="form-control" id="memory" name="memory"  required>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="price">Giá sản phẩm</label>
                <input type="text" class="form-control" id="price" name="price" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="imgPath">Ảnh</label>
                <input type="text" class="form-control" id="imgPath" name="imgPath"  required>
              </div>
            </div>

             <div class="row">
              <div class="col-md-6 mb-3">
                <label for="battery">Mạng</label>
                <input type="text" class="form-control" id="battery" name="network"  required>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">ADD</button>
          </form>