 <form class="needs-validation" novalidate method="POST" action="/admin/add/watch">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Name">Tên máy</label>
                <input type="text" class="form-control" id="Name" name="name" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="screen">Màn hình</label>
                <input type="text" class="form-control" id="screen" name="screen"  required>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="material">Chất liệu</label>
                <input type="text" class="form-control" id="material" name="material" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="deviceConnect">Thiết bị kết nôi</label>
                <input type="text" class="form-control" id="deviceConnect" name="deviceConnect"  required>
              </div>
            </div>



            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="price">Giá sản phẩm</label>
                <input type="text" class="form-control" id="price" name="price" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="imgPath">Ảnh</label>
                <input type="text" class="form-control" id="imgPath" name="imgPath"  required>
              </div>
            </div>

             <div class="row">
              <div class="col-md-6 mb-3">
                <label for="timeUse">Thời gian sử dụng</label>
                <input type="text" class="form-control" id="timeUse" name="timeUse"  required>
              </div>
            </div>

             <div class="row">
              <div class="col-md-6 mb-3">
                <label for="glass">Kính cường lực</label>
                <input type="checkbox" class="form-control" id="glass" name="glass" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="waterproof">Chống thấm nước</label>
                <input type="checkbox" class="form-control" id="waterproof" name="waterproof"  required>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">ADD</button>
          </form>